body {
    background-color: #000 !important;
}
/* html, body {
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-y:auto !important;
} */


#app {
  background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 100%),
    url(../assets/bg2.png);
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y:auto !important;
}

